*{
    background-color:rgb(187, 163, 163);
    margin-left: 250px;
    
}

strong{
    color: red;
}

.link{
     text-decoration: none;
}

li{
    color: white;
}

.titulos1{
    color: black;
    font-style: italic;
}

.titulos2{
    color: black;
    font-style: italic;
    margin-left: 300px;
}

.titulos3{
    color: black;
    font-style: italic;
    margin-left: 350px;
}